<div class="ui-g">
    
    <div class="ui-g-12">
            <span style="font-size: 1.5em; font-weight: 400;">Welcome to my-ev-ride.com</span><br/>
            <span style="font-size: 1em;">An innovative co-owning platform for electric cars</span>
    </div>

    <div class="ui-g-12">
        <div class="ui-messages ui-widget ui-corner-all" style="display:block" ng-reflect-klass="ui-messages ui-widget ui-corne">
            <b>DISCLAIMER</b>
            This website is a prototype. Its functionality hasn't been fully implemented yet.
            Trade marks, copyrights, brand names, product and company names related to the products and images appearing on this website are used for
            demonstration purposes only and remain the property of their respective owners. The depiction of products or images is for demonstration
            purposes only and in no way indicates that my-ev-ride is sponsored or approved by, or otherwise affiliated with, the owner of any such rights.
            <br/><br/>
            If you want to support this project, <a [routerLink]="['/campaign']">click here</a>
        </div>
    </div>
            
    <div class="ui-g-12 ui-lg-9">
        <div class="card card-w-title">
            <h1>Available cars near you</h1>
            <p>
                Can't find your dream EV?
                <a [routerLink]="['/my']">Define your own now ➡</a>
            </p>
            <p-dataTable #carsTable [value]="cars" 
                                    [responsive]="true"
                                    [rows]="5" [paginator]="true" [pageLinks]="3"  [rowsPerPageOptions]="[5,10,20,50,100]"
                                    selectionMode="single"
                                    expandableRows="true"
                                    [(selection)]="selectedRow"
                                    [expandedRows]="expandedRows"
                                    (onRowSelect)="onRowSelect($event)">
                <p-header>{{carsTable.totalRecords === 1000 ? '>' : ''}}{{carsTable.totalRecords}} cars found.</p-header>
                <p-column header="Distance" [style]="{'text-align':'right','width':'100px'}">
                    <ng-template let-row="rowData" pTemplate="body">
                        <b>{{row.distance}}</b>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'148px'}">
                    <ng-template let-row="rowData" pTemplate="body">
                      <img src="assets/layout/images/cars/{{row.image}}_s.png" />
                    </ng-template>
                </p-column>
                <p-column header="Make &amp; Model" [filter]="true" field="make" filterMatchMode="equals">
                    <ng-template pTemplate="filter" let-col>
                        <p-dropdown [options]="carCfg.makes" [style]="{'width':'100%'}" (onChange)="carsTable.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                    <ng-template let-row="rowData" pTemplate="body">
                        <b>{{row.make}}</b><br/>{{row.model}}
                    </ng-template>
                </p-column>
                <p-column header="No. of Owners" [style]="{'width':'80px'}">
                    <ng-template let-row="rowData" pTemplate="body">
                        <span *ngIf="row.sharecount < 5">
                            <i class="material-icons">person</i>
                            <ng-template ngFor [ngForOf]="arrayOfLength(row.sharecount-1)" let-index="index + 1">
                                <i class="material-icons" style="color: gray;">person</i>
                            </ng-template>
                        </span>
                        <span *ngIf="row.sharecount >= 5">
                            {{row.sharecount}}
                        </span>
                    </ng-template>
                </p-column>
                <p-column header="Your price" [style]="{'text-align':'right','width':'120px'}">
                    <ng-template let-row="rowData" pTemplate="body">
                      <span style="font-weight: bold; font-size: 1.1em;">{{app.priceFormatted(row.value/row.sharecount, row.currency)}}</span>
                    </ng-template>
                </p-column>
                <ng-template let-row pTemplate="rowexpansion">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-6 ui-lg-8" style="text-align: center">
                            <p>
                                <img src="assets/layout/images/cars/{{row.image}}.png" width="100%" style="max-width: 400px"/>
                            </p>
                            <span><i class="material-icons">location_on</i>{{row.location}}</span>
                            <p style="white-space:pre-wrap;">{{row.infotext}}</p>
                            <p>
                                <b>{{app.priceFormatted(row.value, row.currency)}}</b><br>
                            </p>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-lg-4">
                            <div class="card" style="height: 100%;">
                                <i class="material-icons" style="vertical-align: text-bottom;">person</i> {{row.display_name}}                                
                                <p style="white-space:pre-wrap;">"{{row.teasertext}}"</p>
                                <p><button pButton type="button" (click)="carItemAction()" label="Contact"></button></p>
                                <p><button pButton type="button" (click)="carItemAction()" label="Add to watchlist"></button></p>
                                <p><button pButton class="deep-orange-btn" type="button" (click)="carItemAction()" label="Request Co-Ownership"></button></p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataTable>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-3 ui-fluid">
        <div class="card card-w-title">
            <h1>Set your location</h1>
            <choose-location #yourlocation (onLocationChanged)="onLocationChanged()" [mapObject]="selectedRow"></choose-location>
        </div>
    </div>
</div>
