<div class="ui-g ui-fluid">
    <div class="ui-g-12" *ngIf="!car">
        <div class="card card-w-title">
            <h1>Your cars</h1>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <p-dataTable [value]="mycars" [responsive]="true" selectionMode="single" [(selection)]="car">
                        <p-column [style]="{'width':'148px'}">
                            <ng-template let-row="rowData" pTemplate="body">
                                <img src="assets/layout/images/cars/{{row.image}}_s.png" />
                            </ng-template>
                        </p-column>
                        <p-column field="make" header="Make"></p-column>
                        <p-column field="model" header="Model"></p-column>
                        <p-column field="location" header="Location"></p-column>
                        <p-column field="sharecount" header="Owners" [style]="{'width':'80px'}"></p-column>
                        <p-column header="Value" [style]="{'text-align':'right'}">
                            <ng-template let-row="rowData" pTemplate="body">
                                {{app.priceFormatted(row.value, row.currency)}}
                            </ng-template>
                        </p-column>
                        <p-column header="Your price" [style]="{'text-align':'right'}">
                            <ng-template let-row="rowData" pTemplate="body">
                                <b>{{app.priceFormatted(row.value/row.sharecount, row.currency)}}</b>
                            </ng-template>
                        </p-column>
                    </p-dataTable>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-2">
                    <button pButton type="button" (click)="newCar()" label="New car"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g-12" *ngIf="car">
        <div class="card card-w-title">
            <h1>Define your car</h1>
            <form [formGroup]="editform" (ngSubmit)="save()">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-2">
                        Make:
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="material-icons">directions_car</i></span>
                            <input type="text" pInputText formControlName="make" placeholder="Make" [(ngModel)]="car.make">
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Model:
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <input type="text" pInputText formControlName="model" placeholder="Model Name" [(ngModel)]="car.model">
                    </div>
                    <div class="ui-g-12 ui-md-2">
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Image:
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <div *ngIf="car.image">
                            <img src="assets/layout/images/cars/{{car.image}}.png"/>
                        </div>
                        <div>
                            <p-dropdown formControlName="image" [options]="images" [(ngModel)]="car.image">
                                <ng-template let-image pTemplate="item">
                                    <img *ngIf="image.value" src="assets/layout/images/cars/{{image.value}}_s.png"/>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        List Price:
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <p-spinner formControlName="value" [(ngModel)]="car.value" placeholder="Price" [min]="1"></p-spinner>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Info / Included Extras:
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <textarea pInputTextarea formControlName="infotext" autoResize="true" [(ngModel)]="car.infotext" placeholder="Info" style="height: 5em;"></textarea>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        No. of Co-Owners:
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <p-spinner formControlName="sharecount" [(ngModel)]="car.sharecount" placeholder="Co-Owners" [min]="2" [max]="100"></p-spinner>
                    </div>
                    <div class="ui-g-12 ui-md-8">
                    </div>

                    <div class="ui-g-12 ui-md-2">
                        Car location:
                    </div>
                    <div class="ui-g-12 ui-md-8">
                        <choose-location #carlocation [latitude]="car.lat" [longitude]="car.lon" [formattedAddressInput]="car.location"></choose-location>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                    </div>
        
                    <div class="ui-g-12 ui-md-2">
                        <button pButton type="submit" label="Save" [disabled]="!editform.valid"></button>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <button pButton type="button" (click)="cancel()" label="Cancel"></button>
                    </div>
                    <div class="ui-g-12 ui-md-2" *ngIf="car.id">
                        <button pButton type="button" class="secondary" (click)="delete()" label="Delete this car"></button>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                    </div>
                            
                </div>
            </form>
        </div>
    </div>
</div>