<div class="container">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-lg-12">
                    <i class="material-icons">location_on</i>
                    <input pInputText placeholder="Enter your location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" size="50" class="form-control" #search [formControl]="searchControl">
        </div>
        <div class="ui-g-12 ui-lg-12">
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
          </div>
    </div>
  </div>
