<div class="layout-rightpanel" [ngClass]="{'layout-rightpanel-active': app.rightPanelActive}" (click)="app.onRightPanelClick()">
    <div #rightPanelMenuScroller class="nano">
        <div class="nano-content right-panel-scroll-content">
            <div class="layout-rightpanel-header">
            </div>

            <div class="layout-rightpanel-content">
                <h1>Your location</h1>
                <h2>Frankfurt am Main, Germany</h2>
            </div>
        </div>
    </div>
    
</div>
