/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '~primeicons/primeicons.css';
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  height: 100%; }

body a {
    text-decoration: none;
}

body .ui-messages {
    margin: 0;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight, body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
    background-color: #2E7D32;
}

body .ui-widget-content p {
    margin: 0.7em 0;
}

.ui-fluid .ui-card {
    height: 100%;
}

.ui-fluid .ui-card-content, .ui-fluid .ui-card-body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.mat-toolbar.mat-primary {
    background: #4CAF50;
    color: white;
}

.mat-toolbar.mat-secondary {
    background: #2E7D32;
    color: white;
}

#primarybar.mat-toolbar-single-row {
    height: 76px;
}

#secondarybar.mat-toolbar-single-row {
    height: 36px;
}

div.prototype_stamp {
    background: url("assets/layout/images/prototype.png") no-repeat;
    background-size: 100%;
    position: fixed;
    left: 250px;
    top: 0px;
    width: 120px;
    height: 68px;
    z-index: 99;
}
@media (max-width: 1024px) {
    div.prototype_stamp {
        left: 200px;
    }
}

.center-screen {
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.floatleft {
    float: left;
}
  
.floatright {
    float: right;
}

.topbar-menu-icon {
    font-size:1.2em;
    padding: 0em 0.5em;
}

.topbar-logo {
    width: 93px;
    height: 33px;
    background: url("assets/layout/images/logo.png") top left no-repeat;
    background-size: 93px 33px;
}

.topbar-middle {
    margin: 0.5em;
    font-size: 0.85em;
}

#layout-content {
    padding: 16px;
}

a.footer-text-left {
    color: #212121;
}

button#google_signin {
    background: url('assets/layout/images/btn_google_signin_dark_normal_web.png') no-repeat;
    width: 191px;
    height: 46px;
    border: none;
}

button#google_signin:hover {
    background: url('assets/layout/images/btn_google_signin_dark_pressed_web.png') no-repeat;
}

button#facebook_signin {
    background: url('assets/layout/images/btn_facebook_signin_dark_normal_web.png') no-repeat;
    width: 216px;
    height: 46px;
    border: none;
}

button#facebook_signin:hover {
    background: url('assets/layout/images/btn_facebook_signin_dark_pressed_web.png') no-repeat;
}
