/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";
@import '~primeicons/primeicons.css';
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

div.prototype_stamp {
    background: url("assets/layout/images/prototype.png") no-repeat;
    background-size: 100%;
    position: fixed;
    left: 250px;
    top: 0px;
    width: 120px;
    height: 68px;
}
@media (max-width: 1024px) {
    div.prototype_stamp {
        left: 200px;
    }
}

.topbar-middle {
    padding: 27px 10px;
    float: left;
    color: white;
    font-size: 1.2em;
}

a.footer-text-left {
    color: #212121;
}

button#google_signin {
    background: url('assets/layout/images/btn_google_signin_dark_normal_web.png') no-repeat;
    width: 191px;
    height: 46px;
    border: none;
}

button#google_signin:hover {
    background: url('assets/layout/images/btn_google_signin_dark_pressed_web.png') no-repeat;
}

button#facebook_signin {
    background: url('assets/layout/images/btn_facebook_signin_dark_normal_web.png') no-repeat;
    width: 216px;
    height: 46px;
    border: none;
}

button#facebook_signin:hover {
    background: url('assets/layout/images/btn_facebook_signin_dark_pressed_web.png') no-repeat;
}
