/* You can add global styles to this file, and also import other style files */
.topbar-middle {
    padding: 27px 10px;
    float: left;
    color: white;
    font-size: 1.2em;
}

button#google_signin {
    background: url('assets/layout/images/btn_google_signin_dark_normal_web.png') no-repeat;
    width: 191px;
    height: 46px;
    border: none;
}

button#google_signin:hover {
    background: url('assets/layout/images/btn_google_signin_dark_pressed_web.png') no-repeat;
}

button#facebook_signin {
    background: url('assets/layout/images/btn_facebook_signin_dark_normal_web.png') no-repeat;
    width: 216px;
    height: 46px;
    border: none;
}

button#facebook_signin:hover {
    background: url('assets/layout/images/btn_facebook_signin_dark_pressed_web.png') no-repeat;
}
